.cart h2{
    margin-top: 30%;
    font-weight:bold;
    font-size: 50pt;
    background-image: linear-gradient(to left,#9d7e0e ,#28844f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.carting{
    padding: 5% 0;
    font-family:'poppins',sans-serif;

}

.costotal{
    margin-top: 30%;
    margin-bottom: 0;
    padding: 30px;
    border: 1px solid #00000024;
    background-color: #f3f3f3;
    font-weight: 400;
}
.costotal .total{
    text-transform: uppercase;
    font-size: 20px;
    background-image: linear-gradient(to left, #72b936 , #87872c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.costotal .totalamount{
    font-weight: 700;
    font-size: 20px;
}

.costotal ul{
    margin: 0 0 25px;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;  
    font-size: 16px;
  
}
.costotal ul li{
    display: list-item;
    margin-top: 20px;
}
.costotal ul li span{
    float: right;
}




.shipping{
    margin-top: 10%;
    padding: 30px;
    border: 1px solid #00000024;
    background-color: #f3f3f3;
    font-weight: 500;
    margin-bottom: 20%;
}
.shipping-col h6{
    font-weight: bold;
}
.shipping-col p{
    font-size: small;
}

.table-area{
    margin-top: 9%;
}
.table thead{
    background-image: linear-gradient(90deg, rgba(27,133,86,1) 35%, rgba(164,126,10,1) 70%);
    font-size: 19px;
    color: #ffffff;
    height: 70px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
th{
    font-weight: normal;
}
.quanity{
    text-align: center;
}
tbody{
    padding: 20px;
}
.img{
    max-width: 100%;
}
.itemdesc{
    margin-top: 30px;
}
.itemdesc p{
    text-align: left;
    padding: 0px;
    margin: 0px;
}
.table tbody{
    padding-top: 10px;
}
.unit {
vertical-align: middle;
text-align: center;

}
.unit p{
    margin-top: 20px;
    font-size: medium;
}
.subpr{
vertical-align: middle;
text-align: center;

}
.subpr p{
    margin-top: 20px;
    font-size: medium;
}

.updatecart{
    font-size: medium;
    text-align: center;
    text-transform: capitalize;
}
.updatecart a{
    text-decoration: none;
    color: black;
}
.num{
    height: 50px;
    margin-top: 35px;
    width: 100%;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    
}
.xbox{
    margin-top: 30px;
    font-size: 22px;
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #111111;
    color:white
}
.cont-purchasing{
    background-image: linear-gradient(90deg, rgba(27,133,86,1) 35%, rgba(164,126,10,1) 70%);
    font-size: larger;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    
}

.checkoutproceed{
    background-image: linear-gradient(90deg, rgba(27,133,86,1) 35%, rgba(164,126,10,1) 70%);
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding-top: 10px;
    font-weight: 400;
}
.checkoutproceed a{
    text-decoration: none;
    color: white;   
}

.paymethod p{
    position: absolute;
    background: #f3f3f3;
    top: -18px;
    left: 85px;
    padding: 3px 20px;
    color: #333333;
    display: block;
    text-transform: uppercase;
    border: 2px solid #cecece;
    font-size: 17px;
    font-family: 'Poppins';
}
.paymethod{
    margin-top: 50px;
    position: relative;
    border: 2px solid #cecece;
    padding: 30px 50px;
    border-radius: 5px;
    background: #f3f3f3;
}





/* header section and footer */
.footer{
    background: linear-gradient(90deg, rgba(27,133,86,1) 35%, rgba(164,126,10,1) 70%);
    height: 430px;
}
.product-list{
    margin-bottom: 60px;
}
.pg p{
    font-family: 'Poppins', sans-serif;
    color: white;
    word-wrap: break-word;
    text-align: center;
    padding-top: 120px;
    font-size: 50px;
    font-weight: bold;
    
}
.rl{
    margin-left: 80px;
}
.lin{
    padding-top: 40px;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif; 
    margin-right: 70px;
}
.lin a{
    color: white;
    text-decoration: none;
    margin-top: 10px;
    font-weight: lighter;
    font-size: small;

}
.lastrow .wd{
    font-weight: bold;
    padding-top: 20px;
}

.top-row {
	background-color: #4e555a;
	color: white;
	font-family: 'poppins';
	margin-bottom: 0%;
	font-size: small;
	height: 45px;
	display: flex;
}
.ship-offer{
	padding-top: 10px;
	font-size: 5px;
}
.Ship-links ul {
	display: flex;
	justify-content: flex-end;
}
.Ship-links ul li{
	padding: 0 3%;
	list-style: none;
	border-left: 1px solid white;
	height: 45px;
	padding-top: 10px;
}
.Ship-links ul li a{
	text-decoration: solid;
	color: white;

}
.Ship-links ul li img{
	color: white;
	height: 20px;
	width: 20px;	
}


.second-top{
	color:white ;
}
.navigator-list{
    margin-top: 20px;
}
.button1{
    margin-top: 20px;
    font-size: small;
}
.texting{
    margin-top: 20px;
    font-size: larger;
}
.navigator-list ul
{
	justify-content: space-evenly;
	display: flex;
	color: white;
	text-decoration: none;
	list-style: none;
    font-size: small;
}
.navigator-list ul li
{
	padding: 0%,10%,0%,0%;
	text-decoration: none;
	list-style: none;
	font-family: 'Poppins', sans-serif;
	color:#000000;
	
}
.navigator-list ul li a
{
	justify-content: space-evenly;
	text-decoration: none;
	list-style: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color:#000000;
}
.button1 p{
	padding-left: 50%;
	font-size: 24;
	background-image: linear-gradient(to left, #72b936 , #87872c);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	font-family: 'Poppins', sans-serif;
	font-weight: 1000;
}
.texting p{
	padding-right: 50%;
	font-family: 'Poppins', sans-serif;
	font-weight: 1000;
	color:#000000;
}
.navigator-list i{
	color: #87872c;
}

.banner-txt h1{
    font-size: 60px;
    padding-top: 150px;
	margin-top: 50px;
	font-weight:bold;
	background-image: linear-gradient(to left,#9d7e0e ,#28844f);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.banner-sec{
    background-image: url(../images/banner-backgroubd.png);
	width: 100%;
	background-size: cover;
}

