body{
	margin: 0px;
}
/* SHipping Offer and Account Links */
.top-row {
	background-color: #4e555a;
	color: white;
	font-family: 'poppins';
	margin-bottom: 0%;
	font-size: small;
	height: 45px;
	display: flex;
}
.ship-offer{
	padding-top: 10px;
	font-size: 5px;
}
.Ship-links ul {
	display: flex;
	justify-content: flex-end;
}
.Ship-links ul li{
	padding: 0 3%;
	list-style: none;
	border-left: 1px solid white;
	height: 45px;
	padding-top: 10px;
}
.Ship-links ul li a{
	text-decoration: solid;
	color: white;

}
.Ship-links ul li img{
	color: white;
	height: 20px;
	width: 20px;	
}

/* Navigator */
.second-top{
	color:white ;
}
.navigator-list{
    margin-top: 20px;
}
.button1{
    margin-top: 20px;
    font-size: small;
}
.texting{
    margin-top: 20px;
    font-size: larger;
}
.navigator-list ul
{
	justify-content: space-evenly;
	display: flex;
	color: white;
	text-decoration: none;
	list-style: none;
    font-size: small;
}
.navigator-list ul li
{
	padding: 0%,10%,0%,0%;
	text-decoration: none;
	list-style: none;
	font-family: 'Poppins', sans-serif;
	color:#000000;
	
}
.navigator-list ul li a
{
	justify-content: space-evenly;
	text-decoration: none;
	list-style: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color:#000000;
}
.button1 p{
	padding-left: 50%;
	font-size: 24;
	background-image: linear-gradient(to left, #72b936 , #87872c);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	font-family: 'Poppins', sans-serif;
	font-weight: 1000;
}
.texting p{
	padding-right: 50%;
	font-family: 'Poppins', sans-serif;
	font-weight: 1000;
	color:#000000;
}
.navigator-list i{
	color: #87872c;
}


/* BANNER Section */
.banner-txt-home h5{
 	margin-top: 100px;
}
.banner-txt-home h1{
 	margin-top: 50px;
 	font-weight:bold;
 	background-image: linear-gradient(to left,#9d7e0e ,#28844f);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.banner-txt-home button{
 margin-top: 30px;
 justify-content: space-between;
 height: 50px;
 width: 200px;
 border-radius: 20px;
 background-image: linear-gradient(280deg, #4f7b2b , #9c9c07);
 color: white;
 border-color: white;
}

.banner-sec {
 background-image: url(../images/banner-backgroubd.png);
 width: 100%;
 background-size: cover;
}
.Help-section{
 margin-top: 70px;
}
.help-row{
 text-align: center;

}
.help-row h1{
 font-size: 59.25px;
 font-family: 'Poppins';
 font-weight: bold;
}
.help-row p{
 font-size: 15.99 px;
 font-weight: 500;
}
.r1c img{
 border-radius: 20px;
 height: 250px;
 width: 100%;
}
.multipart-row{
 margin-top: 30px;
 
}
.r1c h4{
 margin-top: 10px;
 text-align: center;
 color:#4f7b2b ;
}
.productrow{
 	margin-top: 70px;
}
.topseller-txt h3{
	margin: 0px;
 	text-align: center;
 	font-size: 50px;
 	font-family: 'Poppins';
	background-image: linear-gradient(to left,#9d7e0e ,#28844f);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: bold;
}



.pr{
    margin-left: 20px;
}
.sec{
    border: 1px solid grey;
    margin: 15px;
    width: 285px;
    padding-top: 50px;
    padding-bottom: 30px;
    
    padding-right: 30px;
    
}
.sec img{
    width: 100%;
    height: 266px;
    
}
.sec .description{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.sec .fa-star{
    background: linear-gradient(90deg, rgba(27,133,86,1) 35%, rgba(164,126,10,1) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.count{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: small;
    color: #72b936;
}
.sec .price{
    font-weight: bold;
    font-size: large;
}
.theme-btn{
    line-height: 13px;
    font-size: small;
    font-weight: 300;
    padding: 15px;
    color: #fff;
    -webkit-border-radius: 50px;
    border: 2px solid;
    background: linear-gradient(90deg, rgba(31,133,84,1) 0%, rgba(164,126,10,1) 100%);
    font-family: 'Poppins', sans-serif;

}
.cartimg img{
    margin-right: 10px;
    height: 12px;
    
    width: 12px;
}

.customer-review{
    background-image: url(../images/cover1.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.theme-btn{
    line-height: 13px;
    width: 200px;
    font-size: small;
    font-weight: bold;
    padding: 15px;
    color: #fff;
    -webkit-border-radius: 50px;
    border: 2px solid;
    background-color: gray;
    font-family: 'Poppins', sans-serif;

}
.customer-review{
    color: white;
    font-family:  'Poppins', sans-serif;
}
.customer-review h1{
    font-weight: bold;
    padding-top: 40px;
    font-size: 50px;
}
.customer-review p{
    font-size: 25px;
}
.customer-review .fa-star{
    background-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 10px;
    margin-top: 20px;
    margin-right: 20px;
}

.containt{
    background-color: white;
    height: 100px;
}
.containt h3{
    font-size: 60px;
	font-weight:bold;
	background-image: linear-gradient(to left,#9d7e0e ,#28844f);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
    text-align: center;
    font-family:  'Poppins', sans-serif;
    margin-top: 30px;
    margin-bottom: 0px;
}
.containt p{
    text-align: center;
    font-family:  'Poppins', sans-serif;
    font-size: small;
}

.findproduct{
    background-image: url(../images/Home.jpg);
    width: 100%;
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.findproduct .theme-btn{
    line-height: 13px;
    width: 200px;
    font-size: small;
    font-weight: bold;
    padding: 15px;
    color: #fff;
    -webkit-border-radius: 50px;
    border: 2px solid;
    background: linear-gradient(90deg, rgba(31,133,84,1) 0%, rgba(164,126,10,1) 100%);
    font-family: 'Poppins', sans-serif;

}
.findproduct{
    color: white;
    font-family:  'Poppins', sans-serif;
    text-align: center;
    margin-top: 40px;
}
.findproduct h1{
    font-weight: bold;
    padding-top: 40px;
    font-size: 50px;
}
.findproduct p{
    font-size: 25px;
}
.cbd .row{
	background-color: #fff;
}
.cbd .col-12{
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
}
.cbd h6{
    margin-top: 40px;
    font-weight: bold;
}

.contiue-reading .theme-btn{
    line-height: 13px;
    width: 200px;
    font-size: small;
    font-weight: bold;
    padding: 15px;
    background-image: linear-gradient(to left, #72b936 , #87872c);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
    -webkit-border-radius: 50px;
    border: 2px solid;
    background-color: white;
    font-family: 'Poppins', sans-serif;

}















.cbdproduct{
    background-image: url(../images/subs.jpg);
    width: 100%;
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.cbdproduct .theme-btn{
    line-height: 13px;
    width: 200px;
    font-size: small;
    font-weight: bold;
    padding: 15px;
    color: #fff;
    -webkit-border-radius: 50px;
    border: 2px solid;
    background: linear-gradient(90deg, rgba(31,133,84,1) 0%, rgba(164,126,10,1) 100%);
    font-family: 'Poppins', sans-serif;

}
.cbdproduct{
    color: white;
    font-family:  'Poppins', sans-serif;
    text-align: center;
    margin-top: 40px;
}
.cbdproduct h1{
    font-weight: bold;
    padding-top: 40px;
    font-size: 50px;
}

.cbdproduct input{
    border-radius: 50px;
    padding: 10px;
    width: 25%;
    text-align: center;
}
.footer{
    background: linear-gradient(90deg, rgba(27,133,86,1) 35%, rgba(164,126,10,1) 70%);
    height: 430px;
}
.product-list{
    margin-bottom: 60px;
}
.pg p{
    font-family: 'Poppins', sans-serif;
    color: white;
    word-wrap: break-word;
    text-align: center;
    padding-top: 120px;
    font-size: 50px;
    font-weight: bold;
    
}
.rl{
    margin-left: 80px;
}
.lin{
    padding-top: 40px;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif; 
    margin-right: 70px;
}
.lin a{
    color: white;
    text-decoration: none;
    margin-top: 10px;
    font-weight: lighter;
    font-size: small;

}
.lastrow .wd{
    font-weight: bold;
    padding-top: 20px;
}

.newproduct-txt h3{
	margin: 0px;
 	text-align: center;
 	font-size: 40px;
 	font-family: 'Poppins';
	background-image: linear-gradient(to left,#9d7e0e ,#28844f);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: bold;
}
















